/* 共通 css */
:root {
    --font-color: #333;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Noto Sans JP", "Noto Sans", serif;
    font-optical-sizing: auto;
    margin: unset;
}
img {
    display: block;
}
h1, p, ul {
    margin: unset;
    padding: unset;
}
p {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
    color: var(--font-color);
}
p.copy {
    font-size: 12px;
}
div.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}



/* 狭い画面向けの既定の CSS レイアウト値 */
header h1 {
    margin: 20px 0;
    display: inline-block;
}
header h1 img.logo{
    width: 145px;
    height: 30px;
}
header nav {
    background-color: #333;
    padding: 10px 0;
}
header nav ul {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}
header nav ul li {
    padding-right: 60px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
@media (min-width: 480px) {
  /* 中型の画面向けの CSS */
}

@media (min-width: 800px) {
  /* 広い画面向けの CSS */
}

@media (min-width: 1100px) {
  /* 本当に広い画面向けの CSS */
}
